@using PhoneStore.Services;
<div class="card shadow border-0 my-5 m-5 pb-5">
    <div class="card-header bg-secondary ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                @if (User.IsInRole(SD.Role_Customer))
                {
                    <h2 class="text-white py-2">
                        Мої замовлення
                    </h2>
                }
                else
                {
                    <h2 class="text-white py-2">
                        Замовлення
                    </h2>
                }
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
        </div>

        <table id="orderTable" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Пошта  </th>
                    <th>Статус замовлення</th>
                    <th>Статус оплати</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/js/order.js"></script>
}